# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb~

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Data files (если они большие)
*.zip
*.gz
*.tar
*.npy
*.npz
data/
./data/

# Git
*.orig
